.btn-large {
    padding: 11px 50px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#mystyle h1, h5{
    font-family: monospace;
}

#mystyle legend {
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    font-size: medium;
}

#mystyle table {
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}

#mystyle hr {
    margin: 0px 0 0px 0;
}

