<html ng-app="dcdb">
    <head>
        <title>Testing Angular</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/snarl.min.css">
        <link rel="stylesheet" href="css/waves.min.css">
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/snarl.min.js"></script>
        <script type="text/javascript" src="js/waves.min.js"></script>



    </head>

    <body ng-controller="dcdbController as dcdbCtrl" id="mystyle" ng-cloak>
        <div class="container">
            <h1 align="center">#dcdb api <a href ng-click="dcdbCtrl.updateIOCtable()">
                <span class="glyphicon glyphicon-refresh" style="vertical-align: text-bottom" aria-hidden="true">
                </span></a>
            </h1>
            <hr>
            <div class="row">&nbsp;</div>

            <div class="text-center">
                <input ng-model="dcdbCtrl.remote" type="checkbox" ng-checked="dcdbCtrl.remote"> Remote access to EJB ({{ dcdbCtrl.remote }})
            </div>

            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>

            <div class="row">
                <div class="col-xs-4">

                    <table class="table table-striped" >
                        <thead>
                            <tr>
                                <td><strong>#</strong></td>
                                <td><strong>name</strong></td>
                                <td><strong>ip</strong></td>
                                <td><strong>description</strong></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ioc in dcdbCtrl.iocs | orderBy:'id'">
                                <td>{{ ioc.id }}</td>
                                <td>{{ ioc.name }}</td>
                                <td>{{ ioc.ip }}</td>
                                <td>{{ ioc.description }}</td>
                                <td><a href ng-click="dcdbCtrl.delete(ioc.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4"> <!-- ng-controller="addIocController as iocCtrl"-->
                    <form class="form-horizontal" name="addIOCform" ng-submit="dcdbCtrl.submitIoc()">
                        <fieldset>
                            <legend align="right">Add new IOC</legend>


                            <input ng-model="dcdbCtrl.newioc.name" class="form-control" type="text" placeholder="IOC name, e.g. ioc1" class="radius">
                            <span class="help-block"></span>

                            <input ng-model="dcdbCtrl.newioc.ip" class="form-control" type="text" placeholder="IP-address, e.g. 127.0.0.1">
                            <span class="help-block"></span>
                            <textarea ng-model="dcdbCtrl.newioc.description" class="form-control" rows="5" placeholder="Description"></textarea>

                            <br>
                            <button class="btn btn-large btn-success btn-block">Submit</button>
                        </fieldset>

                    </form>

                    <div>
                        <table class="table table-responsive">
                            <tr>
                                <td>{{dcdbCtrl.newioc.name}}</td>
                                <td>{{dcdbCtrl.newioc.ip}}</td>
                                <td>{{dcdbCtrl.newioc.description}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
            <h5 class="text-center">=maslick=</h5>
        </div>

        <script>
            Waves.init();
        </script>
    </body>

</html>
