<html ng-app="dcdb">
    <head>
        <title>Testing Angular</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>


    </head>

    <body ng-controller="dcdbController as dcdbCtrl">
        <div class="container">
            <h1 align="center">DCDB API. <a href ng-click="dcdbCtrl.updateIOCtable()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></h1>

            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-xs-4">

                    <table class="table table-hover" >
                        <thead>
                            <tr>
                                <td><strong>#</strong></td>
                                <td><strong>name</strong></td>
                                <td><strong>ip</strong></td>
                                <td><strong>description</strong></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ioc in dcdbCtrl.iocs | orderBy:'id'">
                                <td>{{ ioc.id }}</td>
                                <td>{{ ioc.name }}</td>
                                <td>{{ ioc.ip }}</td>
                                <td>{{ ioc.description }}</td>
                                <td><a href ng-click="dcdbCtrl.delete(ioc.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>




                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4"> <!-- ng-controller="addIocController as iocCtrl"-->
                    <form class="form-horizontal" name="addIOCform" ng-submit="dcdbCtrl.submitIoc()">
                        <fieldset>
                            <legend>Add new IOC</legend>


                            <input ng-model="dcdbCtrl.newioc.name" class="form-control" type="text" placeholder="name" class="radius">
                            <span class="help-block">IOC name, e.g. <i>ioc1</i></span>

                            <input ng-model="dcdbCtrl.newioc.ip" class="form-control" type="text" placeholder="ip">
                            <span class="help-block">IP-address, e.g. <i>127.0.0.1</i></span>
                            <textarea ng-model="dcdbCtrl.newioc.description" class="form-control" rows="2" placeholder="description"></textarea>

                            <br>
                            <button class="btn btn-large btn-success btn-block">Submit</button>
                        </fieldset>

                    </form>
                    <div class="alert alert-info" ng-show="show_alert">
                        <button type="button" class="close" ng-click="show_alert=false">&times;</button>
                        <strong>Warning!</strong> {{ dcdbCtrl.status }}
                    </div>

                    <div>
                        <table class="table table-responsive">
                            <tr>
                                <td>{{dcdbCtrl.newioc.name}}</td>
                                <td>{{dcdbCtrl.newioc.ip}}</td>
                                <td>{{dcdbCtrl.newioc.description}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
