<html ng-app="dcdb">
    <head>
        <title>Testing Angular</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>

    </head>

    <body ng-controller="dcdbController as data">
        <div class="container">
            <h1 align="center">DCDB. EPICS IOC </h1>

            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-xs-4">

                    <table class="table table-hover" >
                        <thead>
                            <tr>
                                <td><strong>#</strong></td>
                                <td><strong>name</strong></td>
                                <td><strong>ip</strong></td>
                                <td><strong>description</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ioc in data.iocs | orderBy:'-id'">
                                <td>{{ ioc.id }}</td>
                                <td>{{ ioc.name }}</td>
                                <td>{{ ioc.ip }}</td>
                                <td>{{ ioc.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-4" ng-controller="addIocController as iocCtrl">
                    <form class="form-horizontal" name="addIOCform" ng-submit="iocCtrl.submitIoc(data)">
                        <fieldset>
                            <legend>Add new IOC</legend>


                            <input ng-model="iocCtrl.ioc.name" class="form-control" type="text" placeholder="name" class="radius">
                            <span class="help-block">IOC name, e.g. <i>ioc1</i></span>

                            <input ng-model="iocCtrl.ioc.ip" class="form-control" type="text" placeholder="ip">
                            <span class="help-block">IP-address, e.g. <i>127.0.0.1</i></span>
                            <textarea ng-model="iocCtrl.ioc.description" class="form-control" rows="2" placeholder="description"></textarea>

                            <br>
                            <button class="btn btn-large btn-success btn-block">Submit</button>
                        </fieldset>

                    </form>
                    <form class="form-horizontal" name="addIOCform" ng-submit="data.updateIOCtable()">
                        <button class="btn btn-large btn-info btn-block">Refresh</button>
                    </form>

                    <div>
                        <table class="table table-responsive">
                            <tr>
                                <td>{{iocCtrl.ioc.name}}</td>
                                <td>{{iocCtrl.ioc.ip}}</td>
                                <td>{{iocCtrl.ioc.description}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
